
.clear{
    clear: both;
}

.mesage_error{
    color: #cc0000;
}

.success_message{
    color: green;
}




#header{
    padding-left: 10px;
}


#auth_block{
    width: 290px;
    float: right;
    text-align: center;
}

#auth_block a{
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 110px;
    height: 30px;
    text-decoration: none;
}

#auth_block a:hover{
    text-decoration: underline;
}

#link_register{
    float: left;
}

#link_auth, #link_logout{
    float: right;
}

#link_register a{
    background: #54d854;
}

#link_auth a, #link_logout a{
    text-align: center;
}

/* Блок с формой регистрации */
#form_register, #form_auth{
    width: 300px;
    margin: 0 auto;
}


#authorized h2{
    text-align: center;
}
.header {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff0000;
}

/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}

#hider {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#hider:checked + .content {
    display: block;
}
#clickme {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.content {
    margin-top: 10px;
    display: none;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.double-nav .breadcrumb-dn {
    color: #fff;
  }
  .side-nav.wide.slim .sn-ad-avatar-wrapper a span {
    display: none;
  }

    thead {
      background: #b66dff;
      color: white;
  }

    
    .cal{
    border: 1px solid #ccc;
    color: #333;
    background: #F6F6F6;
    font: Arial;
    font-size: 14px;
    text-align: center;}
    
    .caltoday{
    font: Arial;
    font-size: 14px;
    text-align: center;
    font-weight: bold;}
    
    .navi{
    font: Arial;
    font-size: 16px;
    font-weight: bold;}
    
    .datehead{
    font: Arial;
    font-size: 16px;
    font-weight: bold;}
    

